* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

nav {
  max-width: 12.5rem;
  height: calc(100vh - 4.5rem);
  background-color: blue;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  
}

nav ul {
  width: 100%;
  height: 100%;
  color: #FFF;
  margin: 3rem ;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1.5rem;
}

.list-link {
  list-style: none;
  color: #FFF;
}