* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100vw;
  height: 4.5rem;
  background-color: blue;
  padding: 0 3rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #fff;
}

.user .name {
  color: #fff;
}