


.user-area-right {
  flex: 2;
  height: 80%;
  overflow-x: auto;
  background-color: red;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1rem;
}

.scrool-area {
  height: 100%;
  padding: 1rem;

  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 1rem;
}

.scrool-area ul {
  height: 100%;
  background-color: gray;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  align-items: center;

 
}