* {
  margin: 0;
  padding: 0;
  border-radius: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #12466F;
  
}

/* nav {
  width: 90vw;
  height: 10vh;
  background-color: aliceblue;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
} */